{% extends 'Gadgets/base.html' %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .card{
            width: 490px;
            display:flex;
            justify-content: center;
        }

        .btn{
            width: 100px;
            color: red;
            border: 1px solid white;
        }

        .btn:hover{
            background-color: orangered;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div  style="padding-top: 10px; padding-left: 335px; ">
                <div class="card">
                    <div class="card-header text-white" style="background-color: #02061f; border-bottom: 2px solid white;" >
                        <div class="card-title offset-md-5" style="color: red; font-size: 25px;">
                            Sign Up
                        </div>
                    </div>
                    <div class="card-body" style="background:#02061f">
                        <form method="POST">
                            {% csrf_token %}
                        
                            <label class="offset-md-2" for="user">Username:</label>
                            <input type="text" id="user" name="username"><br><br><br>
                        
                            <label class="offset-md-2" for="pass">Password:</label>
                            <input type="password" id="pass" name="password"><br><br><br>
                        
                            <button class="btn offset-md-5" type="submit">Login</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}
