{% extends 'Gadgets/base.html' %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <br><br><br>

<div class="container">
    <div class="row" >
        <div class="col-md-4 offset-md-4" >
            <div class="card" style="background: #00bfff; color: aliceblue;">
                <div class="card-header text-white" style=" border-bottom: 2px solid  white;"  >
                    <div class="card-title offset-md-4" style="color: black; font-size: 25px; ">
                        Profile
                    </div>
                </div>
                <div class="card-body" style="height: 200px;">
                    <div class="row"  >
                        <div class="offset-md-1">
                            <img style="border-radius: 10px; border: 1px solid black;" height="100px" width="100px"
                                    src="{{ user.profile.image.url }}" alt="">
                        </div>

                        <div class="offset-md-1" style="color: black;">
                            <span>
                                {{ user.first_name }}
                            </span>
                            
                            <span>
                                {{ user.last_name }}
                            </span><br>

                            <span>
                                {{user.email}}
                            </span><br>
                            
                            
                            <p>{{ user.profile.location }}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br>


</body>
</html>

{% endblock %}